<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>{{ site.title }}</h1>
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">index</a></li>
                    {% for page in site.pages %}
                        {% if page.title and page.title != 'index' %}
                            <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        {{ content }}
        <!-- <section class="download">
            <h2>Download</h2>
            <p>Click the button below to download the zip file:</p>
            <a href="/assets/download/sample.zip" class="btn">Download Zip</a>
        </section>
        <section class="external-link">
            <h2>External Link</h2>
            <p>Visit my external page:</p>
            <a href="https://github.com/GiorgosPapado" class="btn">Go to Page</a>
        </section> -->
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
        </div>
    </footer>
</body>
</html>